<div class="container">

    <div class="row show-grid">
        <h1>{{title}}</h1>
        <h4>{{ _activeButtonInfo.heading }}</h4>
    </div>

    <div class="row show-grid">
        <div class="btn-group">
            <button
                    *ngFor="let tab of _btnInfos"
                    class="btn btn-primary"
                    [class.active]="isActive(tab)"
                    (click)="onClick(tab)"> {{ tab.heading }}
            </button>
        </div>
    </div>

    <div class="row show-grid">
        <div class="col-md-12">

            <aba-map (mapInstancied)="onMapInstancied($event)"></aba-map>

            <aba-toolbar-map (onUpdateTool)="onUpdateTool($event)"></aba-toolbar-map>

        </div>
    </div>
</div>

<aba-modal-maps (onSelectChoice)="mapSelected($event)"></aba-modal-maps>
<aba-modal-save-map (onMapSubmit)="mapInsert($event)"></aba-modal-save-map>
