node_modules
typings
*.info.txt
*.log
*.js
*.js.map
!karma-test-shim.js
!karma-test-main.js
!karma.conf.js
!webpack.karma.config.js
!webpack.config.js
.idea
abaplan-core.iml
/*.png
output
bower_components
/assets/
/doc/
*secret.ts
!example.*secret.ts

.DS_STORE