node_modules
typings
*.log
*.js
*.js.map
!systemjs.config.js
!systemjs.config.extras.js
!karma-test-shim.js
!karma.conf.js
!webpack.config.js
.idea
abaplan-core.iml
/*.png
assets
output
bower_components
*secret.ts
!example.*secret.ts