<div class="row show-grid">

    <div class="btn-group">
        <button
                *ngFor="let tool of editTools()"
                class="btn btn-primary"
                (click)="onClick(tool)"
                [class.active]="isActive(tool)">
            <span class="glyphicon area-hidden='true' {{ tool.icon }}">
            {{ tool.heading }}
            </span>
        </button>
    </div>

    <div class="btn-group">
        <button
                *ngFor="let tool of drawTools()"
                class="btn btn-primary"
                (click)="onClick(tool)"
                [class.active]="isActive(tool)">
            <span class="glyphicon area-hidden='true' {{ tool.icon }}">
            {{ tool.heading }}
            </span>
        </button>
    </div>

    <div class="btn-group">
        <button
                *ngFor="let tool of actionTools()"
                class="btn btn-primary"
                (click)="onClick(tool)"
                [class.active]="isActive(tool)">
        <span class="glyphicon area-hidden='true' {{ tool.icon }}">
            {{ tool.heading }}
            </span>
        </button>
    </div>

</div>
