<div class="row show-grid">

    <div class="btn-group">
        <button
                *ngFor="let tool of editTools()"
                class="btn btn-primary btn-md glyphicon area-hidden='true' {{tool.icon}}"
                (click)="onClick(tool)"
                [class.active]="isActive(tool)">
            {{ tool.heading }}
        </button>
    </div>

    <div class="btn-group">
        <button
                *ngFor="let tool of drawTools()"
                class="btn btn-primary btn-md glyphicon area-hidden='true' {{tool.icon}}"
                (click)="onClick(tool)"
                (click)="onClick(tool)"
                [class.active]="isActive(tool)">
            <img src="{{ tool.image }}">
            {{ tool.heading }}
        </button>
    </div>

    <div class="btn-group">
        <button
                *ngFor="let tool of actionTools()"
                class="btn btn-primary btn-md"
                (click)="onClick(tool)"
                [class.active]="isActive(tool)">
            {{ tool.heading }}
        </button>
    </div>

</div>
