<div class="row show-grid">
    <div class="btn-group">
        <button
                *ngIf="!isEditableMode()"
                class="btn btn-primary"
                [disabled]="!isEditableEditButton()"
                (click)="changeEditableState()">Editer
        </button>

        <button
                *ngIf="isEditableMode()"
                class="btn btn-success"
                (click)="changeEditableState()">Naviguer
        </button>
    </div>

    <div class="btn-group" *ngIf="isEditableMode()">
        <button
                *ngFor="let tool of drawTools()"
                class="btn btn-primary"
                (click)="onClick(tool)"
                [class.active]="isActive(tool)">{{ tool.heading }}
        </button>
    </div>

    <div class="btn-group" *ngIf="isEditableMode()">
        <button
                *ngFor="let tool of editTools()"
                class="btn btn-primary"
                (click)="onClick(tool)"
                [class.active]="isActive(tool)">{{ tool.heading }}
        </button>
    </div>

    <div class="btn-group" *ngIf="isEditableMode()">
        <button class="btn btn-primary">Imprimer
        </button>
        <button class="btn btn-primary">Sauvegarder
        </button>
    </div>

</div>
