 .modal-body {
    height:60%;
}


 thead, tbody {
     display: block;
 }

 tbody {
     height: 100%;
     overflow-y: scroll;
 }

 .table {
     height: 80%;
     margin-bottom: 0px;
 }

 .row {
     margin-right: 0px;
     margin-left: 0px;
 }

 .row.search {
     margin:auto;
     width:70%;
     margin-bottom: 1em;
 }

 input {
     width: 100%;
     padding: 0 10px 0 10px;
 }
