<div class="modal fade in" [style.display]="isVisible() ? 'block' : 'none'">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <h1 class="modal-title">Liste des cartes</h1>

            </div>
            <div class="modal-body">

                <div class="row search">
                    <input placeholder="Rechercher par titre ou id" [(ngModel)]="queryInputValue" (ngModelChange)="onChange($event)"/>
                </div>

                <div class="row">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Id</th>
                            <th>Titre</th>
                            <th>Date de création</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let m of filteredMaps">
                            <td>
                                <button type="button" class="btn btn-default btn-sm" aria-label="Left Align" (click)="onClick( m.uid )">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                            </td>
                            <td>{{ m.uid }}</td>
                            <td>{{ m.title }}</td>
                            <td>{{ m.creationDate }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <ul *ngIf="nbPaginations <= 10" class="pagination">
                        <li [class.disabled]="activePage === 1"><a href="#" (click)="movePagination(-1)">Précédent</a></li>
                        <li [class.active]="activePage === i" *ngFor="let i of range(nbPaginations)">
                            <a href="#" (click)="paginationButtonClick(i)">{{i}}</a>
                        </li>
                        <li [class.disabled]="activePage >= nbPaginations"><a href="#" (click)="movePagination(1)">Suivant</a></li>
                    </ul>
                    <ul *ngIf="nbPaginations > 10" class="pagination">
                        <li [class.disabled]="activePage === 1"><a href="#" (click)="movePagination(-1)">Précédent</a></li>
                        <li [class.active]="activePage === i" *ngFor="let i of range(7)">
                            <a href="#"  (click)="paginationButtonClick(i)">{{i}}</a>
                        </li>
                        <li class="disabled"><a href="#">...</a></li>
                        <li [class.active]="activePage === i+nbPaginations-2" *ngFor="let i of range(2)">
                            <a href="#" (click)="paginationButtonClick(i+nbPaginations-2)">{{i+nbPaginations-2}}</a>
                        </li>
                        <li [class.disabled]="activePage >= nbPaginations"><a href="#" (click)="movePagination(1)">Suivant</a></li>
                    </ul>
                </div>

            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                <button type="button" class="btn btn-secondary" (click)="close()">Fermer</button>
            </div>
        </div>
    </div>
</div>