<div class="modal fade in" [style.display]="isVisible() ? 'block' : 'none'">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title">Listes des cartes</h1>
        <button type="button" class="close" (click)="close()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
          <hr>
        Rechercher: <input placeholder="Titre ou id" (change)="onChange($event.target.value)"/>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Date de création</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let m of filteredMaps">
            <td>{{ m.uid }}</td>
            <td>{{ m.title }}</td>
            <td>{{ m.creationDate }}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        <button type="button" class="btn btn-secondary" (click)="close()">Fermer</button>
      </div>
    </div>
  </div>
</div>