
.Pagination {
    position: initial;
}



 .table {
     margin-bottom: 0px;
 }

 .row {
     margin-right: 0px;
     margin-left: 0px;
 }

 .row.search {
     margin:auto;
     width:70%;
     margin-bottom: 1em;
 }

 input {
     width: 100%;
     padding: 0 10px 0 10px;
 }
