#esri-map {
    width: 1058px;
    height: 720px;
    border: solid 2px #000000;
    margin: auto;
}

.searchBar {
    margin-top: 5px;
    margin-bottom: 5px;
}

.center-div {
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  vertical-align: middle;
}

.hide-on-screen {
    display: none;
}

@media print {

    @page {
        size: 320mm 450mm;  
        margin: 0;
    }

    html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .hide-on-print {
        display: none;
    }

    #esri-map {
        margin: 0;
        padding: 0;

        overflow: hidden;
    }

    .hide-on-screen {
        display: block;
        margin-top: 0px;
    }
     
    .titleMap{     
        text-align: left;
        float: left;
        margin-left: 8%;
    }

    .idMap{      
        text-align: right;
        float: right;
        margin-right: 12%;
    }

    .braille{
        font-weight: bold;
        font-size: 220%;
        letter-spacing: 6%;
    }

    .text{
        font-size: 150%;
    }
}