<html>
  <head>
    <title></title>

  </head>
      <div class="row" id="map" >
          <div class="col-md-12">
            {{map}}
          </div>
      </div>
      <div class="row" id="textRow">
         <div class="col-md-12">

           <div id="cont">
             <div id="textL">
               {{title}}
             </div>
            </div>
            <div id="cont">
              <div id="textR">
                {{link}}
              </div>
             </div>
          </div>
          <br>
          <div class="col-md-12">
            <div id="cont">
              <div id="brailleL">
                {{bTitle}}
              </div>
             </div>
             <div id="cont">
               <div id="brailleR">
                 {{bLink}}
               </div>
              </div>
           </div>

        </div>
      </div>
   </body>
</html>
