
@page {
  size: landscape;
  margin: 0mm;}

#map{
  border-style:solid;
  overflow: hidden;

  margin:0 auto;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;

  height: 75%;
}

.textRow{
  margin:0 auto;
  margin-left: 6%;
  margin-right:6%;
  margin-top: 2%;
}

.braille{
  font-weight: bold;
  font-size: 180%;
  letter-spacing: 6%;
}

#brailleR{
  float:right;
}

#brailleL{
  float:left;
}

.text{
  font-size: 120%;
}

#textL{
  float:left;
}

#textR{
  float:right;
}
