<div class="row show-grid">

    <div class="btn-group-vertical">
        <button
                type="button"
                *ngFor="let tool of editTools()"
                class="btn btn-primary btn-md"
                (click)="onClick(tool)"
                [class.active]="isActive(tool)">
            <img src="{{ tool.image }}">
            <span class="tooltiptext">{{ tool.heading }}</span>
        </button>
    </div>
</div>

<div class="row show-grid">
    <div class="btn-group-vertical">
        <button
                type="button"
                *ngFor="let tool of drawTools()"
                class="btn btn-primary btn-md"
                (click)="onClick(tool)"
                [class.active]="isActive(tool)">
            <img src="{{ tool.image }}">
            <span class="tooltiptext">{{ tool.heading }}</span>
        </button>
    </div>

</div>
<div class="row show-grid">
    <div class="btn-group-vertical">
        <button
                type="button"
                *ngFor="let tool of actionTools()"
                class="btn btn-primary btn-md"
                (click)="onClick(tool)">
            <img src="{{ tool.image }}">
            <span class="tooltiptext">{{ tool.heading }}</span>
        </button>
    </div>

</div>
