<div class='container'>
    <div class="row show-grid">
        <h1>{{title}}</h1>
        <h4>{{ activeTab.heading }}</h4>
    </div>
    <div class="row show-grid">
        <div class="btn-group">
            <button
                    *ngFor="let tab of tabs"
                    class="btn btn-primary"
                    [class.active]="isActive(tab)"
                    (click)="onSelect(tab)"> {{ tab.heading }}
            </button>
        </div>
        <div class="btn-group">
            <button
                class="btn disbaled">Editer
            </button>
        </div>
    </div>
    <div class="row show-grid">
        <div class="col-md-11">
            <aba-map (mapInstancied)="onMapInstancied($event)" ></aba-map>
        </div>
    </div>
</div>
