<ul class="pagination">

    <li [class.disabled]="activePageNumero === 1">
        <a (click)="movePagination(-1)" [class.disabled]="activePageNumero === 1">&laquo;</a>
    </li>

    <li [class.active]="activePageNumero.toString() == i" *ngFor="let i of getPagination()">
        <a (click)="paginationButtonClick(i)" [class.disabled]="i === '...'">{{ i }}</a>
    </li>

    <li [class.disabled]="activePageNumero === pageNumber">
        <a (click)="movePagination(1)" [class.disabled]="activePageNumero >= pageNumber">&raquo;</a>
    </li>

</ul>
