<div class="container">
    <div class="row show-grid">
        <h1>{{title}}</h1>
        <h4>{{ _activeButtonInfo.kind | translate}}</h4>
    </div>

    <div class="row show-grid">
        <div class="btn-group">
            <button
                    *ngFor="let tab of _btnInfos"
                    class="btn btn-primary"
                    [class.active]="isActive(tab)"
                    (click)="onClick(tab)"> {{ tab.kind | translate }}
            </button>
        </div>
    </div>

    <div class="row show-grid">
        <div class="col-md-12">

            <aba-map (onMapInstancied)="initMap($event)"></aba-map>

            <aba-toolbar-map (onUpdateTool)="updateTool($event)"></aba-toolbar-map>

        </div>
    </div>
</div>

<aba-modal-maps (onSelectEvent)="selectMap($event)"></aba-modal-maps>
<aba-modal-save-map (onSaveEvent)="insertMap($event)"></aba-modal-save-map>
<aba-modal-save-map (onSaveEvent)="insertMap($event)"></aba-modal-save-map>
<aba-modal-yesno (onYesEvent)="setMapAsSavable($event)" (onCloseEvent)="printMapWithoutSaving($event)"></aba-modal-yesno>
