#main-container {
    width: 1088px;
}

#control-row {
    display: flex;
    justify-content: space-between;
}

@media print {

    .hide-on-print {
       display: none;
    }

    #layout {
        width: 100%;
        padding: 1cm;
    }
}


