.show-grid {
    margin-bottom:10px;
}

aba-map {
    float: left;
}

aba-toolbar-map {
    float: left;
    width: 55px;
    padding-top: 38px;
    margin-left: 40px;
}

.dataMap{
    display: none;
}

@media print {

    aba-toolbar-map ,aba-select-lang,.title,.typeMaps,.arcgisSearch{
       display: none;
    }

    .container{
        padding-left: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        
    }

    .dataMap{
         display: block;
         margin-top: 0px;
    }

    .titleMap{
        margin-left: 12%;
        text-align: left;
    }

    .idMap{
        margin-right: 12%;
        text-align: right;
    }

    .braille{
        font-weight: bold;
        font-size: 220%;
        letter-spacing: 6%;
    }

    .text{
        font-size: 150%;
    }

    

}


