<div class="btn-group">
    <button
        type="button"
        *ngFor="let button of toolButtons"
        class="btn btn-primary btn-md"
        (click)="toolButtonClick(button.id)"
        [class.active]="isToolButtonActive(button.id)"
    >
        <img src="{{ button.imageURL }}">
        <span class="tooltiptext">{{ button.tooltip | translate }}</span>
    </button>
</div>

<div class="btn-group">
    <button
        type="button"
        *ngFor="let button of textureButtons"
        class="btn btn-primary btn-md"
        (click)="textureButtonClick(button.id)"
        [class.active]="isTextureButtonActive(button.id)"
    >
        <img src="{{ button.imageURL }}">
        <span class="tooltiptext">{{ button.tooltip | translate }}</span>
    </button>
</div>

<div class="btn-group">
    <button
        type="button"
        *ngFor="let button of operationButtons"
        class="btn btn-primary btn-md"
        (click)="operationButtonClick(button.id)"
    >
        <img src="{{ button.imageURL }}">
        <span class="tooltiptext">{{ button.tooltip | translate }}</span>
    </button>
</div>
