<!--
<ul>
  <li *ngFor="let map of optionMaps">
    {{map.title}}: ({{map.height}}, {{map.width}})
  </li>
</ul>
-->
<div class="row">
    <div id="search"></div>
</div>
<div class="row">
    <div id="esri-map" [ngClass]="{'need-zoom':needZoom}">

      <img  [hidden]="!mapLoading"
            src='{{imgLoading}}'
            class="center-div"
      />

      <p  
       [hidden]="!needZoom"
        style="
        margin-top:290px;
        text-align: center;"

        class="center-div">
          <i class="glyphicon glyphicon glyphicon-zoom-in" 
          style="font-size:100px;"></i> <br/>
            Veuillez zoomer plus
      </p>
    </div>
</div>
